.language-container{
	margin: 0px 0 50px;
}
.languagepicker {
	background-color: #FBFBFB;
	color: #000;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
	position: absolute;
	left:320px;
	z-index: 10000;
	border: 1px solid  #ddd;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #ddd;
	font-family: interfaceregular, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	margin-bottom: 0px;
}

.languagepicker li:hover{
	background-color: #fff;
}

.languagepicker a:first-child li {
	border: none;
	background: #FBFBFB
}

.languagepicker li img {
	margin-right: 5px;
}

.roundborders {
	border-radius: 5px;
}

.large:hover {
	/* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
	height: auto;
}